@charset "UTF-8";

/*구글폰트*/
@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
* {
  font-family: "Orbit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
	text-decoration: none;
}

/* 영역 사이즈 클래스 */
.container {
	width: 1140px;
	margin: auto;
}

.wrap-md {
	width: 720px;
	margin: auto;
}

.wrap-sm {
	width: 540px;
	margin: auto;
}

.wrap-x-sm {
	width: 360px;
	margin: auto;
}

.d-flex {
	display: flex;
}

.align-left {
	align-items: flex-start;
}
.align-right {
	align-items: flex-end;
}

.align-center{
	align-items: center;
}
.space-left {
	justify-content: flex-start;
}
.space-right {
	justify-content: flex-end;
}
.space-right2 {
	justify-content: flex-end;
	gap: 10px;
}
.space-between {
	justify-content: space-between;
}
.space-center{
	justify-content: center;
}
.space-bg {
	justify-content: space-between;
	gap: 10px;
}
.g-1{
	gap: 10px;
}
.g-2{
	gap: 20px;
}
.g-3{
	gap: 30px;
}
.g-4{
	gap: 40px;
}
.g-5{
	gap: 50px;
}

/* 컴포넌트 너비 클래스 */
.w-50 {
	width: 50%;
}

.w-100 {
	width: 100%;
}
/* 컴포넌트 테두리 클래스 */
.border {
	border: 1px solid #999;
}

.border-rounded {
	border: 1px solid #999;
	border-radius: 4px;
}
.border-rounded2 {
	border: 1px solid #c0c0c0;
	border-radius: 10px;
}
/* 글씨 정렬 클래스 */
.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.float-inherit{
	float: inherit;
}

/* 글씨 색상 클래스 */
.warning {
	color: red;
}
.emphasize{
	color: #fd5740;
}
.logon{
	color: #0080ff;
}
.hash{
	color: #0080c0;
}
.fs-1 {
	font-size: 2rem;
}

.fs-2 {
	font-size: 1.5rem;
}

.fs-3 {
	font-size: 1.17rem;
}

.fs-4 {
	font-size: 1.0rem;
}

.fs-5 {
	font-size: 0.8rem;
}

.fs-6 {
	font-size: 0.65rem;
}
/* 글씨 두께 */
.fw-1{
	font-weight: lighter;
}
.fw-2{
	font-weight: bold;
}
/* 기본 패딩 클래스 */
.p-1 {
	padding: 4px;
}

.p-2 {
	padding: 8px;
}

.p-3 {
	padding: 12px;
}

.p-4 {
	padding: 16px;
}

.p-5 {
	padding: 20px;
}
.p-6 {
	padding: 30px;
}
.px-1 {
	padding-left: 4px;
	padding-right: 4px;
}

.px-2 {
	padding-left: 8px;
	padding-right: 8px;
}

.px-3 {
	padding-left: 12px;
	padding-right: 12px;
}

.px-4 {
	padding-left: 16px;
	padding-right: 16px;
}

.px-5 {
	padding-left: 20px;
	padding-right: 20px;
}

/* 기본 마진 클래스 */
.mx{
	margin : auto;
}
.mx-1 {
	margin: auto 4px;
}

.mx-2 {
	margin: auto 8px;
}

.mx-3 {
	margin: auto 12px;
}

.mx-4 {
	margin: auto 16px;
}

.mx-5 {
	margin: auto 20px;
}

.my-1 {
	margin: 4px auto;
}

.my-2 {
	margin: 8px auto;
}

.my-3 {
	margin: 12px auto;
}

.my-4 {
	margin: 16px auto;
}

.my-5 {
	margin: 20px auto;
}
/* 링크 클래스*/
.no-deco-link {
	color: #444;
	text-decoration: none;
}
/* 버튼 클래스 */
.button {
	background-color: #d9e3fb;
	cursor: pointer;
}

.button2:hover {
	background-color: #aed2f7;
	color: white;
}
.align-right-b{
	border:1px solid #fefdc2;
	border-radius: 10px;
	background-color : #fde46f;
	color:fw-2;
	padding:5px;
	margin: 10px;
	cursor: pointer;
	float: right;
}
.b2:hover {
	background-color: #f8bc1f;
	color: white;
}
/* 박스 클래스 */
.box-s1{
	width: 720px;
	height: 100px;
	margin: auto;
}
.box-s2{
	width: 720px;
	height: 400px;
	margin: auto;
}
.search-box{
	width: 360px;
	height: 30px;
	margin: auto;
	text-align: right;
	padding-right: 30px;
}
.fa-search{
    position: relative;
}
.fa-search::before{
	display: none;
}
.icon-search{
    position: absolute;
    top: 8px;
    right: 10px;
    color: #999;
}
